<div class="container mt-3">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div>
            <label class="form-label">
                Weight
                <input class="form-control" formControlName="weight" placeholder="your weight in kg...">
                <span class="text-danger"
                    *ngIf="form.get('weight')?.hasError('required') && form.get('weight')?.touched">Required</span>
            </label>
        </div>
        <div>
            <label class="form-label">
                Height
                <input class="form-control" formControlName="height" placeholder="your height in meters...">
                <span class="text-danger"
                    *ngIf="form.get('height')?.hasError('required') && form.get('height')?.touched">Required</span>
            </label>

        </div>
        <em>All units should be metric</em>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">GO!</button>
        </div>
        <ng-template ngIf="{{bmiResult}}">Your BMI is {{bmiResult}} </ng-template>
    </form>
</div>